# Configuration of the camera // TODO: fix inverted Y
camera :
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0; y = -50; z = -200; };
    rotation = { x = 0.0; y = 0.0; z = -1.0; };
    fieldOfView = 120.0; # In degrees
};
# Primitives in the scene
primitives :
{
    # List of spheres
    spheres = (
        { x = 60; y = 5; z = 40; r = 35; color = { r = 255; g = 64; b = 64; }; } ,
        { x = -40; y = 0; z = -10; r = 35; color = { r = 64; g = 255; b = 64; }; }
    );
    # List of planes
    planes = (
        { axis = "Y" ; position = -30; color = { r = 64; g = 64; b = 255; }; }
    );
};

# Transformation of the primitives
transformations: {
    #List of transformations
    translations = (
        { index = 0; x = 10; y = -20; z = 30; },
        { index = 1; x = -30; y = 20; z = -10; }
    )
};

# Light configuration
lights :
{
    ambient = 0.4; # Multiplier of ambient light
    diffuse = 0.6; # Multiplier of diffuse light
    # List of point lights
    point = (
        { x = 400; y = 100; z = 500; }
    );
    # List of directional lights
    directional = () ;
};